body {
  background-color: #f9f9f9;
  overflow-y: scroll;
}

#page {
  width: 97%;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 5px;
}

#content-wrapper {
  padding-top: 5px;
}

#first-name {
  color: #7c7c7c;
}

#name {
  font-size: 40pt;
  line-height: 98%;
  margin-bottom: 25px;
}

#nav-wrapper {
  background-color:#f9f9f9;
}

.nav-v ul li a, .nav-h ul li a {
  color: #8c8c8c;
}

.nav-v ul li a:hover, .nav-h ul li a:hover {
  color: #000;
  text-decoration: none;
}

.nav-v ul li a.selected {
  color: #000000;
}

#nav-footer {
  float: right;
  padding-top: 0.6em;
  margin-bottom: 50px;
  font-size: 0.9em;
}

@media (min-device-width: 769px) and (min-width: 769px) {
  #nav-float {
    position: fixed;
  } 
}

/* About page */

#about-wrapper {
  position: relative;
  width: 100%;
}

img.profile {
  width: 250px;
  height: 250px;
  float: right;
  margin-left: 35px;
}

#footer {
  border-top: 1px solid #eee;
  margin-top: 50px;
}

/* Resume page */

#resume-wrapper h2, #projects-wrapper h2 {
  border-bottom: 1px solid #ddd;
}

li.resume-note {
  list-style: circle;
  margin-left: 1em;
  line-height: 160%;
}

.employer-img {
  max-height: 1.4em;
  position: relative;
  top: 5px;
  left: 10px;
}

.emp-img-span {
  position: relative;
  left: 10px;
}

.employer-header {
  display: block;
}

.employer-date {
  text-align: right;
}

#page li, #page p, h3.subheader {
  font-size: 115%;
  color: #5c5c5c;
}

#resume-wrapper ul {
  margin-left: 0;
}

/* Projects */
.project-img {
  max-width: 230px;
}

.demo {
  width: 400px;
  height: 200px;
  display: none;
}

/* Photography */

@media (min-width: 768px) {
  #photography-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 200px;
    right: 0;
    background-color: black;
  }
  
  #photo {
    height: 100%;  
  }
  
  .carousel-inner {
    height: 100%;
  }
  
  .carousel-inner > .item {
    height: 100%;
  }
  
  .photo-wrapper {
    height: 100%;
    text-align: center;
  }
  
  .photo-wrapper:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  .photo-wrapper > .photo-item {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}

.carousel-control {
  top: 50%;
  opacity: 0.3;
  text-decoration: none;
  border: 0;
  background-color: #3c3c3c;
}

.carousel-control:hover {
  opacity: 0.5;
}

#photography-content {
  display: none;
}