body {
  background-color: #f9f9f9;
}

#page {
  width: 97%;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}

#content-wrapper {
  padding-top: 20px;
}

#first-name {
  color: #7c7c7c;
}

#name {
  font-size: 40pt;
  line-height: 98%;
  margin-bottom: 25px;
}

.nav-v ul li a, .nav-h ul li a {
  color: #8c8c8c;
}

.nav-v ul li a:hover, .nav-h ul li a:hover {
  color: #000;
  text-decoration: none;
}

.nav-v ul li a.selected {
  color: #000000;
}

#nav-footer {
  float: right;
  padding-top: 0.6em;
  margin-bottom: 50px;
  font-size: 0.9em;
}

@media (min-width: 768px) {
  .nav-fixed {
    position: fixed;
    max-width: 210px;
  } 
  #content-wrapper {
    margin-left: 250px;
  }
}


/* About page */

#about-wrapper {
  position: relative;
  width: 100%
}

img.profile {
  width: 250px;
  height: 250px;
  float: right;
  margin-left: 35px;
}

#footer {
  border-top: 1px solid #eee;
  margin-top: 50px;
}

/* Resume page */
li.circle {
  list-style: none;
  line-height: 160%;
}

.employer-img {
  max-height: 1.4em;
  position: relative;
  top: 5px;
  left: 10px;
}

.emp-img-span {
  position: relative;
  left: 10px;
}

.employer-header {
  display: block;
}

.employer-date {
  text-align: right;
}

.employer-title {
}

#page li, #page p {
  font-size: 115%;
  color: #5c5c5c;
}

#resume-wrapper ul {
  margin-left: 0;
}

/* Projects */
.project-img {
  max-width: 200px;
}

.demo {
  width: 400px;
  height: 200px;
  display: none;
}

/* Photography */

@media (min-width: 768px) {
  #photography-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 250px;
    right: 0;
    background-color: black;
  }
}

#photography-content {
  display: none;
}