<div id="about-wrapper">
  <div class="row">
    <div class="half">
      <h2>Hello,</h2>
      <p>I'm Kevin.</p>
      <p>I'm a 4th year computer science student at the University of Waterloo.</p>
      <p>I have a passion for building things, from small web and mobile apps to large projects that make the world more interesting. In my spare time I enjoy listening and playing music along with traveling and taking pictures.</p>
      <p>You can find me on LinkedIn <a href="http://www.linkedin.com/profile/view?id=143968597">here</a></p>
    </div>
    <div class="half">
      <img class="profile polaroid" src="img/photo.jpg">
    </div>
  </div>
</div>
